@font-face {
  font-family: "Gramophone";
  /* IE9 Compat Modes */
  src: url(../fonts/gramophone/GramophoneFaNum-Clean.woff2) format("woff2"),
    url(../fonts/gramophone/GramophoneFaNum-Clean.woff) format("woff");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: "Aria";
  /* IE9 Compat Modes */
  src: url(../fonts/aria/AriaWeb-Normal.woff2) format("woff2"),
    url(../fonts/aria/AriaWeb-Normal.woff) format("woff");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: "IranYekan";
  src: url(../fonts/iranykan/iranyekanwebmedium.eot);

  /* IE9 Compat Modes */
  src: url(../fonts/iranykan/iranyekanwebmedium.ttf) format("woff2"),
    url(../fonts/iranykan/iranyekanwebmedium.woff) format("woff"),
    url(../fonts/iranykan/iranyekanwebmedium.ttf) format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: "Iransans";
  /* IE9 Compat Modes */
  src: url(../fonts/iranSans/iransansdnweb.eot) format("embedded-opentype"),
    url(../fonts/iranSans/iransansdnweb.woff2) format("woff2"),
    url(../fonts/iranSans/iransansdnweb.woff) format("woff"),
    url(../fonts/iranSans/iransansdnweb.ttf) format("truetype");
  /* Safari, Android, iOS */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
hr {
  border: 1px solid #06b471;
  margin: 10px 0;
}
.Iran-yekan {
  font-family: "IranYekan" !important;
}
.Aria {
  font-family: "Aria" !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gramophone", Tahoma, sans-serif;
}
.en-title {
  background: -webkit-linear-gradient(-90deg, #04c97f, #070d1b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  font-family: "Iransans", Tahoma, sans-serif;
  background-color: #070d1b;
  color: #fefefe;
}
.text-green {
  color: #04c97f;
}
.bg-green {
  background-color: #04c97f;
}
.text-blue {
  color: #070d1b;
}
.bg-blue {
  background-color: #070d1b;
}

.btn--info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c1f31;
  border: 1px solid #39b0e26b;
  color: #38bdf8;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-info:hover {
  background-color: #11314f;
}

.btn--error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1824;
  border: 1px solid #552e37;
  color: #f87171;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}
.btn--error:hover {
  background-color: #392530;
}
.btn--success {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e2325;
  border: 1px solid #1d523c;
  color: #4ade80;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}
.btn--success:hover {
  background-color: #174632;
}
.btn--warning {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f211a;
  border: 1px solid #564c18;
  color: #facc15;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}
.btn--warning:hover {
  background-color: #2e3223;
}